@charset "UTF-8";

/* HTML 5 layout */
main {
  width: 100%;
  margin: 0 auto;
}
header {
}
nav {
}
section {
  width: 1200px;
  display: flex;
  margin: 0 auto;
}
.aside {
  width: 220px;
}
article {
  min-height: 400px;
}
footer {
  padding: 1em;
}

/* [Component] favicon */
.favicon {
  height: 100%;
}
.favicon > * {
  display: flex;
  height: 100%;
  align-items: end;
  text-decoration: none;
  color: black;
}
.favicon > * > *:first-child {
  height: 100%;
}
.favicon > * > *:nth-child(2) {
  font-size: 2em;
  font-weight: bold;
}

/* [Component] nav-bar */
.nav-bar {
  height: 75%;
  display: flex;
  text-align: center;
}
/* 1차메뉴 */
.nav-bar > div {
  height: 100%;
  width: 20%; /*23_3_30 종권 수정내역_2*/
  position: relative;
  flex-grow: 1;
  
}


/* 1차 메뉴 글씨 */
.nav-bar > div > a {
  width: 100%;
  height: 80px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: text-decoration-color 1s;
  color: black;
  font-size: 20px;
}

/* 2차 메뉴 글씨 */
.nav-bar > div > div > div> a {
  width: 100%;
  height: 60px;
  padding-top:0.5em;
  padding-bottom: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: text-decoration-color 1s;
  color: black;
  font-size: 18px;
  /* 하위 메뉴 밑줄 속성 */
  border-bottom: 1.5px solid #C2CCEE;
}
.nav-bar > div > div > div:first-child > a{
	border-top: 2px solid #9DACE4;
}
.nav-bar > div > div > div:last-child > a{
	border-bottom: 3px solid #9DACE4;
}
/* 메뉴 글씨 */
.nav-bar a > * {
  position: relative;
}
/* 메뉴 밑줄 표시 */
/*
.nav-bar a > *::after {
  content: "";
  position: absolute;
  background-color: #8699DE;
  width: 100%;
  height: 3px;
  bottom: -0.1em;
  left: 0;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.5s;
}
*/
/* a:hover > *::after {
  transform: scaleX(1);
} */
.nav-bar > div a:hover span{
	color:#5E78D3;
}

/* 2차메뉴 */

.nav-bar > div > div {
  text-align:center;
  width: 100%;
  background-color: white;
  position: absolute;
  display: none;
  z-index: 100;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}


.nav-bar > div:hover > div {
  display: flex;
  flex-direction: column;
}
/* [Component] section-w1000 */
.section-w1200 {
  width: 1200px;
}
/* 헤더 개인메뉴 */
.header-menu{
	display:inline-block;
	color:white;
}

.back-sc-brighter {
  background-color: #ebeefa;
}
.radius-1em {
  border-radius: 1em;
}
.ph-h-em {
  padding: 0 0.5em
}
.border-0 {
  border: none;
}
.flex-wrap {
  flex-wrap: wrap;
}
.back-red-brighter {
  background-color: #ffe6e6;
}
.inline-flex{
  display: inline-flex;
}
.back-inherit {
  background-color: inherit;
}
/* 홈화면 섹터 영역 */
.home-sector{
	margin-top:20px;
	margin-bottom:20px;
	width:100%;
	min-height:400px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	padding:1.5em;
	border-radius: 0.2em;
}