/* [Component] title-body */
.title-body {
  display: flex;
  flex-direction: column;
}

.title-body > *:last-child {
  flex-grow: 1;
  border: 1px solid gray;
  border-radius: 0.3em;
  background-color: #fffcfc;
  margin-top: 0.8em;
}

/* [Component] flex-row*/
.flex-row-grow {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.flex-row-grow > * {
  flex-grow: 1;
}
