/* [Component] title-body */
.title-body {
  display: flex;
  flex-direction: column;
}

.title-body > *:last-child {
  flex-grow: 1;
  border: 1px solid gray;
  border-radius: 0.3em;
  background-color: #fffcfc;
  margin-top: 0.8em;
}

/* [Component] flex-row-grow */
.flex-row-grow {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.flex-row-grow > * {
  flex-grow: 1;
}

/* [Component] flex-column-grow */
.flex-column-grow {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.flex-column-grow > * {
  flex-grow: 1;
}

.flex-row-justify-center {
  display: flex;
  justify-content: center;
}

.flex {
  display: flex;
}

.bold {
  font-weight: bold;
}

.flex-all-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-align-center {
  display: flex;
  align-items: center;
}
.gray {
  color: gray !important;
}
.blue {
  color: #0459C1 !important;
}
.back-gray {
  background-color: #f9f9f9;
}
.back-dark-gray {
  background-color: #E5E5E5;
}

.h-2p5em {
  height: 2.5em;
}
.h-3em {
  height: 3em;
}
.h-2em {
  height: 2em;
}
.mg-0 {
  margin: 0;
}

.white-bold {
  color: white !important;
  font-weight: bold !important;
}
.back-sc {
  background-color: #9DACE4;
  border: 1px transparent solid;
}

.ml-auto {
  margin-left: auto;
}

.deco-none {
  text-decoration: none;
}

.black {
  color: black;
}