@charset "UTF-8";



.float-box::after {
  content: "";
  display: block;
  clear: both;
}
.float-box > .float-left {
  float: left;
}
.float-box > .float-right {
  float: right;
}

.flex-box {
  display: flex;
}

.flex-box.flex-auto-width > * {
  flex-grow: 1;
}
.flex-box.flex-vertical {
  display: flex;
  flex-direction: column;
}
.flex-box.align-center {
  justify-content: center;
  align-items: center;
}