@charset "UTF-8";
/* # 첫 페이지 (/) */

/* [Component] home-raid-board*/
.home-raid-board {
  width: 100%;
  height: 30%;
}
/* [Component] home-board-title */
.home-board-title {
  display: flex;
  align-items: flex-end;
}

.home-board-title > *:first-child {
  flex-grow: 1;
}
.home-board-title > * {
  color: #747171;
}
/* home-raid-content */
.home-raid-board > *:nth-child(2) {
  display: flex;
}
/* home-raid-sticker */
.home-raid-board > *:nth-child(2) > div {
  width: 25%;
  margin: 2em 20px;
  padding-bottom: 0.5em;
  border: 1px solid transparent;
  border-radius: 0.7em;
  background-color: #ffe87e;
  display: flex;
  flex-direction: column;
}
/* home-riad-sticker-row */
.home-raid-board > *:nth-child(2) > div > div:not(:nth-child(2)) {
  padding: 0.25em;
}
.home-raid-board > *:nth-child(2) > div > div:first-child {
  flex-grow: 4;
  padding: 0 1em;
  font-size: 1.3em;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.home-raid-board > *:nth-child(2) > div > div:nth-child(2) {
  flex-grow: 1;
}
.home-raid-board ul {
  list-style-type: disc;
  padding-left: 2em;
}
.home-raid-board > *:nth-child(2) > div > div:last-child {
  flex-grow: 2;
  display: flex;
  margin: 0 1.5em;
}

/* home-raid-sticker [Component] party, pool */
.party.pool {
  background-color: #ff2e00;
}
.pool {
  width: 20%;
  margin: 0 0.25em;
  background-color: #c8c8c8;
  border-radius: 0.5em;
}

/* [component] home-cool */
.home-cool {
  height: 40%;
  margin: 2em 0;
}

/* [component] home-cool-monster */
.home-cool-monster > * {
}

/* [component] home-cool-board*/
.home-cool-board {
  margin-left: 2em;
}

/* # 로그인 페이지 (/member/login) */
section.member-login-section {
  width: 550px;
}
section.member-login-section article {
  min-height: 700px;
}
section.member-login-section form {
  display: flex;
  height: 100%;
}
.login-form {
  width: 100%;
  height: 80%;
  /* margin: auto 0; */
  margin-top: 1.5em;
  display: flex;
  flex-direction: column;
}
.login-form > * {
  width: 80%;
  display: flex;
  justify-content: center;
  margin: 0.5em auto;
}
.login-form > *:first-child {
  flex-grow: 1;
  display: flex;
}
.login-form > * > * {
  width: 100%;
  height: 100%;
  padding: 1.2em;
}
.login-form > *:first-child > * {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-form input {
  outline: none;
  background-color: #fffcfc;
  border: 1px solid #747171;
  border-radius: 0.5em;
}
.login-form button {
  background-color: #ffd400;
  border: 1px solid transparent;
  border-radius: 0.5em;
  font-weight: 800;
}
.login-form button:hover {
  cursor: pointer;
}
.login-form a {
  text-decoration: none;
  color: #747171;
}
.login-form > *:first-child > * > *:last-child {
  font-size: 3em;
  color: black;
}
.login-form > *:first-child img {
  width: 80px;
}
.login-form > *:last-child {
  border-top: 1px solid #747171;
}
.login-form > *:last-child > * {
  padding: 0.5em;
  color: #747171;
  font-weight: 800;
}
.login-form > *:last-child > *:first-child {
  text-align: end;
}
.login-form > *:nth-child(5) {
  color: red;
  font-weight: bold;
}

/* # 포켓몬 교환 리스트 */
.pocketmonTrade-list {
  min-height: 600px;
  border-radius: 0.5em;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.pocketmonTrade-a-link {
  color: black;
  text-decoration: none;
}
.pocketmonTrade-list-banner {
  font-size: 2em;
  color: black;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}
.pocketmonTrade-a-btn {
  border: 1px solid black;
  color: black;
  text-decoration: none;
  padding: 0.4em;
}
.pocketmonTrade-row {
  display: flex;
  height: 2.8em;
  padding: 4px;
}
.pocketmonTrade-row2 {
   display:flex;
  height: 2.8em;
  justify-content: space-between;
  padding: 4px;
}
.pocketmonTrade-row2 > * {
  width: 25%;
  /* text-align: center; */
}
.pocketmonTrade-row2 > *:nth-child(1) {
  width: 10%;
  /* text-align: start; */
}
.pocketmonTrade-row2 > *:nth-child(2) {
  width: 25%;
  /* text-align: start; */
}
.pocketmonTrade-row2 > *:nth-child(3) {
  width: 65%;
  /* text-align: start; */
}
.pocketmonTrade-row2 > *:nth-child(4) {
  width: 35%;
}
.pocketmonTrade-row > * {
  width: 10%;
  /* text-align: center; */
}
.pocketmonTrade-row > *:nth-child(3) {
  width: 45%;
  /* text-align: start; */
}
.pocketmonTrade-row > *:nth-child(4) {
  width: 15%;
}
.pocketmonTrade-cancle-btn {
  background-color: #ff9999;
  border: 1px solid #ff9999;
}
.pocketmonTrade-request {
}

.pocketmonTrade-head {
  border-bottom: 2px #c2ccee solid;
}
.pocketmonTrade-row:not(.pocketmonTrade-head) {
  border-bottom: 2px #f2f4fb solid;
}
.pocketmonTrade-notice-tag {
  color: red;
  border: 1px solid red;
  border-radius: 0.3em;
}
.typeTag {
  text-decoration: none;
}
.ellipsis {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 1px;
  padding-bottom: 1px;
}
.pocketmonTrade-pagination > * {
  width: 1.5em;
  height: 1.5em;
  margin: 3px;
}
.pocketmonTrade-pagination > *:hover {
  text-decoration: underline;
}
.pocketmonTrade-pagination > *.nowPage {
  color: #03c75a;
  font-weight: 600;
  box-shadow: 0 0 0 1px black;
  background-color: white;
}
.pocketmonTrade-pagination > a {
  color: black;
  text-decoration: none;
}
.pocketmonTrade-search-form > * {
  height: 2.5em;
}
.pocketmonTrade-search-form > *:nth-child(2) {
  width: 30%;
}
.pocketmonTrade-search-form > *:nth-child(3) {
  width: 8%;
  background-color: #9dace4;
  font-weight: bold;
  border: none;
}
.pocketmonTrade-notice {
  background-color: #f9f9f8;
  /* color: #ff4e59; */
}
.pocketmonTrade-notice a {
  color: #ff4e59;
  font-weight: bold;
}
.tag-style {
  display: inline-block;
  height: 80%;
}

/* # 포켓몬교환 디테일 */
.pocketmonTrade-info-head,
.pocketmonTrade-info-footer {
  display: flex;
}
/* .pocketmonTradeReply {
  margin-left: auto;
} */
.pocketmonTradeContent {
  min-height: 400px;
}
#pocketmonTrade-list-btn {
  margin-left: auto;
}

.pocketmonTrade-btn {
  font-weight: bold;
  padding: 0.25em 0.5em;
  color: black;
  text-decoration: none;
  border: 1px black solid;
  border-radius: 0.2em;
}
.pocketmonTrade-btn:hover {
  cursor: pointer;
}
#pocketmonTrade-like {
}
#pocketmonTrade-like:hover {
  cursor: pointer;
}
#pocketmonTrade-reply {
  border: 1px solid #e5e5e5;
  padding: 1em;
}

textarea[name="replyContent"] {
  resize: none;
}
.writer {
  color: red;
  margin-left: 10px;
  border: 1px solid red;
  border-radius: 45%;
  padding: 2px;
}
.pocketmonTrade-reply-re:hover {
  cursor: pointer;
}
.pocketmonTrade-reply-form {
  position: relative;
}
.reReply {
  display: flex;
  align-items: start;
}
.reReply > *:first-child {
  margin-top: 5px;
  margin-right: 10px;
}
.reReply > *:last-child {
  flex-grow: 1;
}

/* # Message receive */

.message-nav {
  width: 200px;
  padding: 0 0.5em;
}

.message-delete-btn,
.message-refresh-btn {
  cursor: pointer;
}
.message-check-one,
.message-check-all {
  transform: scale(1.2);
}
a.link:hover {
  text-decoration: underline;
}

.custom-spin {
  -webkit-animation: fa-spin 0.5s infinite linear;
  animation: fa-spin 0.5s infinite linear;
}

.message-row:hover {
  background-color: #f5f5f5;
}
.message-row > * {
  width: 31%;
  padding: 0.5em;
}
.message-check-column {
  width: 7%;
}
.message-head {
  background-color: #f5f5f5;
  height: 2em;
}
.message-head > * {
  box-shadow: 0 0 0 1px black;
}
.message-content {
  min-height: 200px;
}

/* 보낸메세지함 */
.message-send-cancle-btn:hover {
  cursor: pointer;
}
.message-cancle-col {
  flex-grow: 0;
  width: 15%;
}
.message-content {
  min-height: 200px;
}

/* 메세지 쓰기 */
#message-recipient-input {
  flex-grow: 1;
}
.message-recipient-ele {
  min-height: 2.4em;
  margin: 0.25em;
  width: 22%;
}
.recipient-btn {
  cursor: pointer;
}
.recipient-cnt {
  color: forestgreen;
}
.red {
  color: red;
}

.pocketmonTrade-type,
.pocketmonTrade-isDone {
  font-size: 1em;
}

.plus-1h-btn:hover,
  .plus-6h-btn:hover,
  .plus-1d-btn:hover,
  [type="datetime-local"]:hover {
    cursor: pointer;
  }