.pocket-box-a{
	text-decoration: none; 
 	color: inherit; 
}

.pocket-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pocket-li {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}
.pocket-data > h3{
	margin-left : 1.3em;
}

.pocket-data > h4 {
	font-weight: 300;
	color: #808080; 
	margin-left : 1.5em;
}

.pocket-box {
  width: 100%;
  height: 250px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  margin-bottom: 1em;
}

.pocket-box:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.pocket-box > div:first-child {
  width: 100%;
  height: 48%;
  position: absolute;
  top: 0;
  background-color: #e53935;
}

.pocket-box > div:nth-child(2) {
  width: 100%;
  height: 48%;
  background-color: #ececf4;
  position: absolute;
  bottom: 0;
}

.pocket-box > div:last-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 95%;
  background-color: white;
  border-radius: 20px;
}

.pocket-box > div:nth-child(3) > img {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 10%;
  object-fit: cover;
  border-radius: 20px;
}

.pocket-data {
  width: 100%;
  height: 100px;
  overflow: hidden;
  position: relative;
  display: block;
}

.pocket-data span {
	padding: 0.5em;
	display: block;
	line-height: 0.8em;
	color: white;
}

.pocket-data > div {
	display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5%;
}

.pocket-data > div div {
	display: inline-block;
	text-align: center;
	width:48%;
	height: 30px;
	padding: 0px;
		
	clip-path: polygon(8px 0, 100% 0, 100% calc(100% - 8px), calc(100% - 8px) 100%, 0 100%, 0 8px);
}

.type-back-color1 {
	background-color:#999999;
}
.type-back-color2 {
	background-color:#FFA202;
}
.type-back-color3 {
	background-color:#95C9FF;
}
.type-back-color4 {
	background-color:#994DCF ;
}
.type-back-color5 {
	background-color:#AB7939;
}
.type-back-color6 {
	background-color:#BCB889;
}
.type-back-color7 {
	background-color:#9FA424;
}
.type-back-color8 {
	background-color:#6E4570;
}
.type-back-color9 {
	background-color:#6AAED3;
}
.type-back-color10 {
	background-color:#FF612C;
}
.type-back-color11 {
	background-color:#2992FF;
}
.type-back-color12 {
	background-color:#42BF24;
}
.type-back-color13 {
	background-color:#FFDB00;
}
.type-back-color14 {
	background-color:#FF637F;
}
.type-back-color15 {
	background-color:#42D8FF;
}
.type-back-color16 {
	background-color:#5462D6;
}
.type-back-color17 {
	background-color:#4F4747;
}
.type-back-color18 {
	background-color:#FFB1FF;
}


