@charset "UTF-8";

.reply-item {
	font-size:20px;
	padding:1em;
}
.reply-item:not(:last-child) {
	border-bottom:1px solid gray;
}
.reply-item .replyWriter {
	font-size: 1.25em;
}
.reply-item .replyContent {
	font-size: 1em;
	min-height: 3em;
	padding: 0.5em 0;
}
.reply-item .replyTime {
	font-size: 0.8em;
	color:gray;
}

.reply-item .author {
	font-size:0.75em;
	padding:0.25em;
	border:1px solid red;
	color:red;
	border-radius:1em;
}

.reply-item .fa-edit,
.reply-item .fa-trash {
	cursor:pointer;
	color:#d63031;
}
.reply-item .fa-edit:hover,
.reply-item .fa-trash:hover {
	filter:brightness(0.85);
} 

/* -------------오행서 summer-note용 css---------------*/
/* 댓글창에 쓰이는 summernote 관련 css */
.note-toolbar{
	display:flex !important;
	justify-content: flex-end !important;
}
.note-mybutton{
	margin-left:auto !important;
}

.reply-btn {
	background-color:white;
	border:0px;
	font-size:17px;
}
.note-mybutton >.note-btn:hover > *{
	color: #333;
	text-decoration: none;
	background-color: #ebebeb;
	outline: 0;
	border-radius: 1px;
}
/* 댓글창 꾸미기 */
.reply-box{
	border-bottom:1px solid #ebebeb;
	margin:0
}
/* 베스트 댓글 표시창 꾸미기 */
.reply-best-target{
	padding : 0.5em;
	background-color:#F7F8FC;
	border-radius:0.2em;
}
/* 수정, 삭제 대댓글 버튼 색 */
.reply-box .fa-trash,
.reply-box .fa-edit,
.reply-box .reply-child-btn{
	color:#999999;
}