	/*상부 정보*/
	.seal-information,
	.my-seal-information{
	width:1000px;
	height:100px;
	flex-wrap: wrap;
	display:flex;
	justify-content: space-between;
	align-content: flex-start;
	margin : auto;
	position:relative;
	}
	.seal-information>div:first-child,
	.my-seal-information>div:first-child{
	position:relative;
	width:250px;
	height:100px;
	}
	.my-seal-information {
	margin-top:100px;
	}
	.my-seal-information>div:first-child>span,
	.seal-information>div:first-child>span{
	position:absolute;
	bottom:15px;
	left:20px;
	font-size:35px;
	}
	.seal-information>div:nth-child(2){
	position:absolute;
	width:500px;
	height:100px;
	display:flex;
	right:10px;
	  flex-wrap: wrap;
	  align-content: flex-start;
	}
	.my-seal-information>div:nth-child(2){
	position:absolute;
	width:500px;
	height:100px;
	display:flex;
	right:80px;
	  flex-wrap: wrap;
	  align-content: flex-start;
	}
	.my-seal-information>div:nth-child(3){
	position:relative;
	width:150px;
	height:100px;
	display:flex;
	  flex-wrap: wrap;
	  align-content: flex-start;
	}
	
	.seal-information>div:nth-child(2) > a > span:nth-child(1){
	position:absolute;
	bottom:15px;
	right:25px;
	font-size:16px;
	}
	
	.seal-information>div:nth-child(2) > a > span:nth-child(2){
	position:absolute;
	bottom:43px;
	right:25px;
	font-size:16px;
	}
	
	.seal-information>div:nth-child(2) >a> span:nth-child(3){
	position:absolute;
	bottom:15px;
	right:0px;
	font-size:16px;
	}
	
	.seal-information>div:nth-child(2) span{
	position:absolute;
	bottom:15px;
	right:180px;
	font-size:16px;
	}
	.my-seal-information>div:nth-child(3) span{
	position:absolute;
	bottom:15px;
	right:10px;
	font-size:16px;
	}
	
	.my-seal-information>div:nth-child(3) img{
	position:absolute;
	bottom:40px;
	right:10px;
	font-size:16px;
	border:1px solid #C2CCEE;
	border-radius: 5px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
	}
	.seal-information>div:nth-child(2)>a> i{
	position:absolute;
	bottom:45px;
	right:0px;
	font-size:20px;
	}
	.my-seal-information>div:nth-child(2)>a> i{
	position:absolute;
	bottom:15px;
	left:300px;
	font-size:20px;
	}
	.my-seal-information>div:nth-child(2)>a> span{
	position:absolute;
	bottom:15px;
	left:325px;
	}
	
	/*인장 목록*/
	.seal-container {
	  display: flex;
	  flex-wrap: wrap;
	  align-content: flex-start;
	  width: 1000px;
	  height: 1000px;
	  margin : auto;
	  
	}
	
	.seal-container > div{
	  width: 200px;
	  height: 250px;
	  border:1px solid #C2CCEE;
	  display:flex;
	  flex-direction: column;
  	  justify-content: center;
	  align-items: center;
	  border-radius: 10px;
	  background-color: #F6F8FC;
	  text-align:center;
	}
	
	.seal-container img{
	width: 90px; 
	height: 90px; 
	border:1px solid #C2CCEE;
	border-radius: 5px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
	margin: 0 auto;
	margin-bottom:10px;
	}
	
	.seal-admin {
	display:flex;
	width:160px;
	align-content: flex-start;
	justify-content: center;
	margin-top:10px;
	}
	.seal-admin > div {
	margin: 0 auto;
	}
	
	.seal-price > span{
	font-size:15px;
	color:gray;
	}
	
	.board-seal{
	width:20px;
	height:20px;
	margin-right:5px;
	}
