	/*상부 정보*/
	.seal-information,
	.my-seal-information{
	width:1000px;
	height:100px;
	flex-wrap: wrap;
	display:flex;
	justify-content: space-between;
	align-content: flex-start;
	margin : auto;
	position:relative;
	}
	.seal-information>div:first-child{
	position:relative;
	width:300px;
	height:100px;
	}
	.my-seal-information>div:first-child{
	position:relative;
	width:300px;
	height:100px;
	}
	.seal-information,
	.my-seal-information {
	margin-top:100px;
	}
	.my-seal-information>div:first-child>span,
	.seal-information>div:first-child>span{
	position:absolute;
	bottom:15px;
	left:20px;
	font-size:35px;
	}
	.seal-information>div:nth-child(2),
	.my-seal-information>div:nth-child(2){
	position:absolute;
	width:800px;
	height:100px;
	display:flex;
	right:10px;
	  flex-wrap: wrap;
	  align-content: flex-start;
	}
	
	.seal-information>div:nth-child(2)>span:nth-child(1),
	.my-seal-information>div:nth-child(2)>span:nth-child(1){
	position:absolute;
	right:0px;
	bottom:5px;
	}
	.seal-information>div:nth-child(2)>span:nth-child(2),
	.my-seal-information>div:nth-child(2)>span:nth-child(2){
	position:absolute;
	left:253px;
	bottom:120px;
	}
	.seal-information>div:nth-child(2)>a,
	.my-seal-information>div:nth-child(2)>a{
	position:absolute;
	right:0px;
	bottom:25px;
	text-decoration: none;
 	color: inherit;	
	}
	.seal-information>div:nth-child(2)>a>i,
	.my-seal-information>div:nth-child(2)>a>i{
	font-size:20px;
	}
	
	.my-seal-information>div:nth-child(2) img{
	position:absolute;
	bottom:15px;
	left:260px;
	font-size:16px;
	border:1px solid #C2CCEE;
	border-radius: 5px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
	}

	/*인장 목록*/
	.seal-container {
	  display: flex;
	  flex-wrap: wrap;
	  align-content: flex-start;
	  width: 1000px;
	  min-height: 400px;
	  margin : auto;
	  margin-bottom:50px;
	  
	}
	
	.seal-container > div{
	  width: 200px;
	  height: 250px;
	  border:1px solid #C2CCEE;
	  display:flex;
	  flex-direction: column;
  	  justify-content: center;
	  align-items: center;
	  border-radius: 10px;
	  background-color: #F6F8FC;
	  text-align:center;
	}
	
	.seal-container img{
	width: 90px; 
	height: 90px; 
	border:1px solid #C2CCEE;
	border-radius: 5px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
	margin: 0 auto;
	margin-bottom:10px;
	}
	
	.seal-admin,
	.my-seal-menu {
	display:flex;
	width:160px;
	align-content: flex-start;
	justify-content: center;
	margin-top:10px;
	}
	.seal-admin > div,
	.my-seal-menu div {
	margin: 0 auto;
	}
	
	.seal-price > span{
	font-size:15px;
	color:gray;
	}
	
	.board-seal{
	width:60px;
	height:60px;
	margin-right:5px;
	}
	
	.seal-price{
	  text-decoration: line-through;
	  text-decoration-color: gray; /* 가운데 줄 색상 */
	  text-decoration-thickness: 1px; /* 가운데 줄 굵기 */
	  text-decoration-skip-ink: none; /* 브라우저 기본값 사용 */
	  color:gray
	}
